<html>
<head>
  <title>View the Training Programs below:</title>
</head>
<body>
  <h1>View the Training Programs below:</h1>
  <table>
    <thead>
      <tr>
        <th>Program Name</th>
        <th>Mile Goal/Week</th>
        <th>Run Goal/Week</th>
      </tr>
    </thead>
    <tbody>
      {% for result in data %}
      <tr>
        <td>{{ result[0] }}</td>
        <td>{{ result[1] }}</td>
        <td>{{ result[2] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>

