
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="data:,">
    <style>
      h1, p {
        text-align: center;
      }

      table, td, th {
        border: 2px solid #ddd;
        text-align: left;
      }

      table {
        border-collapse: collapse;
        width: 60%;
      }

      th, td {
        padding: 6px;
      }
    </style>
  </head>
  <body>
    <h1>Running App by Isaiah and Shivam</h1>
    <h1>Race Results</h1>
    <form method="POST" action="/raceresults">
      <label for="race_name">Enter the race name:</label>
      <input type="text" id="race_name" name="name">
      <br><br>
      <input type="submit" value="Submit">
    </form>
    <br>
 
    <p><a href="another">Click Here to view Training Programs</a></p>
    <p><a href="log_training_event">Log Training Event<a><p>
    <p><a href="runner_name">Volunteer Here!<a><p>		    
  </body>
</html>

<html>
<head>
  <title>NYC Marathon Results</title>
</head>
<body>
  <h1>NYC Marathon Results</h1>
  <table>
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Elapsed Time</th>
      </tr>
    </thead>
    <tbody>
      {% for result in data %}
      <tr>
        <td>{{ result[0] }}</td>
        <td>{{ result[1] }}</td>
        <td>{{ result[2] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
