<html>
<head>
	<title>Log Training Event</title>
</head>
<body>
	<h1>Log Training Event</h1>
	<form method="post">
		<label for="training_type">Training Type:</label>
		<input type="text" name="training_type" id="training_type"><br><br>
		
		<label for="date">Date:</label>
		<input type="date" name="date" id="date"><br><br>
		
		<label for="start_time">Start Time:</label>
		<input type="time" name="start_time" id="start_time" step ="1"><br><br>
		
		<label for="finish_time">Finish Time:</label>
		<input type="time" name="finish_time" id="finish_time" step ="1"><br><br>
		
		<label for="miles">Miles:</label>
		<input type="number" step="0.01" name="miles" id="miles"><br><br>
		
		<label for="runner_id">Runner ID:</label>
		<input type="text" name="runner_id" id="runner_id"><br><br>
		
		<input type="submit" value="Submit">
	</form>
</body>
</html>
